{% extends 'layout.html' %}
{% load static %}
{% block content %}

<body>
  <div class="d-flex" id="content-wrapper">
    <!-- Sidebar -->
    <div id="sidebar-container" class="barraLateral">
      <div class="logo">
          <h4 class="text-light font-weight-bold mb-0" ><a class="text-light" href= "{% url 'menu' %}">Kids connect</a></h4>
      </div>
      <div class="menu">
        <a href="{% url 'evento' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
            Calendario</a>
        <a href="{% url 'docente' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
            Cursos</a>      
        {% if request.session.perfil == '4' %}    
        <a href="{% url 'crearUsuario' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-book outline mr-2"></i>
            Crear usuario</a>
        {% endif %}
        <a href= "{% url 'correo' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-mail-unread mr-2"></i>
            Mensajes</a>
        {% if request.session.perfil == '4'  or request.session.perfil == '2' or request.session.perfil == '3' %}
        <a href= "{% url 'crearAlumno' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>Crear Alumno</a>
        {% endif %}
    </div>
  </div>
      <!-- Fin sidebar -->

      <div class="w-100">

       <!-- Navbar -->
       <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <div class="container">
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <form class="form-inline position-relative d-inline-block my-2">
                <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn position-absolute btn-search" type="submit"><i class="icon ion-md-search"></i></button>
              </form>
              <div class="menu" id="menu-container">
                <a href="{% url 'evento' %}" class="d-block text-primary p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
                    Calendario</a>
                <a href="{% url 'docente' %}" class="d-block text-primary p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
                    Profesores</a>          
                <a href="{% url 'crearUsuario' %}" class="d-block text-primary p-3 border-0"><i class="icon ion-md-book outline mr-2"></i>
                    Estudiante</a>
                <a href= "{% url 'correo' %}" class="d-block text-primary p-3 border-0"><i class="icon ion-md-mail-unread mr-2"></i>
                    Mensajes</a>
                {% if request.session.perfil == '1' %}
                <a href="{% url 'crearAlumno' %}" class="d-block text-light p-3 border-0"> <i class="icon ion-md-people lead mr-2"></i>Crear Alumno</a>
                {% endif %}
              </div>
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                  
                    <img src="{% static 'img\logoSideBar.gif' %}" style="width: 50px; height: auto;">
                    <span id="storedValue"></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'cerrarSesion' %}">Cerrar sesión</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
          <!-- Fin Navbar -->

        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">

              <section class="bg-light py-3">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-9 col-md-8">
                            <h1 class="font-weight-bold mb-0">Información Alumo</h1>
                            <p class="lead text-muted">Revisa la última información</p>
                          </div>                         
                  

                                  <div class="card rounded-0">
                                    <div class="card-header bg-light">
                                        <h6 class="font-weight-bold mb-0">Creacion Alumno</h6>
                                    </div>
                                    <div class="card-body pt-2">
                                      <h1>Formulario de Registro de Alumno</h1>
                                        <form id="registroForm">
                                        <label for="rut_alu">RUT Alumno:</label>
                                        <input type="text" id="rut_alu" name="rut_alu" class="form-control" required><br>
    
                                        <label for="dv_alu">DV:</label>
                                        <input type="text" id="dv_alu" name="dv_alu" class="form-control" required><br>
    
                                        <label for="nom_alu">Nombre:</label>
                                        <input type="text" id="nom_alumno" name="nom_alumno" class="form-control" required><br>
    
                                        <label for="ap_pat_alu">Apellido Paterno:</label>
                                        <input type="text" id="ap_pat_alumno" name="ap_pat_alumno" class="form-control" required><br>
    
                                        <label for="ap_mat_alu">Apellido Materno:</label>
                                        <input type="text" id="ap_mat_alumno" name="ap_mat_alumno" class="form-control" required><br>
    
                                        <label for="dir_alu">Dirección:</label>
                                        <input type="text" id="dir_alu" name="dir_alu" class="form-control" required><br>
    
                                        <label for="curso_cod_cur">Codigo curso:</label>
                                        <input type="text" id="curso_cod_cur" name="curso_cod_cur" class="form-control" required><br>
    
                                        <label for="curso_cod_niv">Codigo Nivel:</label>
                                        <input type="text" id="curso_cod_niv" name="curso_cod_niv" class="form-control" required><br>
    
                                        <label for="usuario_rut_us">Rut Apoderado:</label>
                                        <input type="text" id="usuario_rut_us" name="usuario_rut_us" class="form-control" required><br>
    
                                        
    

                                        <label for="curso_cod_jor">Jornada (1=AM - 2=PM):</label>
                                        <input type="text" id="curso_cod_jor" name="curso_cod_jor"  class="form-control" required><br>

                                        
    
                                        <button type="submit" class="btn btn-primary" >Registrar</button>
                                    </form>



                                <script>
                                  const form = document.getElementById('registroForm');
                                  form.addEventListener('submit', function(event) {
                                      event.preventDefault(); // Evita que la página se recargue al enviar el formulario
                              
                                      // Obtener los valores de los campos del formulario
                                  // Obtener los valores de los campos del formulario
                                  const rut_alu = document.getElementById('rut_alu').value;
                                  const dv_alu = document.getElementById('dv_alu').value;
                                  const nom_alumno = document.getElementById('nom_alumno').value;
                                  const ap_pat_alumno = document.getElementById('ap_pat_alumno').value;
                                  const ap_mat_alumno = document.getElementById('ap_mat_alumno').value;
                                  const dir_alu = document.getElementById('dir_alu').value;
                                  const curso_cod_cur = document.getElementById('curso_cod_cur').value;
                                  const curso_cod_niv = document.getElementById('curso_cod_niv').value;
                                  const usuario_rut_us = document.getElementById('usuario_rut_us').value;
                                  const usuario_jardin_cod_jar = 1;
                                  const usuario_cod_tip = 1;
                                  const curso_cod_jor = document.getElementById('curso_cod_jor').value;
                                  const curso_cod_jar = 1;
                                      // Obtener el valor de los demás campos del formulario
                              
                                    // Crear un objeto con los datos del formulario
                                    const formData = {
                                        rut_alu: rut_alu,
                                        dv_alu: dv_alu,
                                        nom_alu: nom_alumno,
                                        ap_pat_alu: ap_pat_alumno,
                                        ap_mat_alu: ap_mat_alumno,
                                        dir_alu: dir_alu,
                                        curso_cod_cur: curso_cod_cur,
                                        curso_cod_niv: curso_cod_niv,
                                        usuario_rut_us: usuario_rut_us,
                                        usuario_jardin_cod_jar: usuario_jardin_cod_jar,
                                        usuario_cod_tip: usuario_cod_tip,
                                        curso_cod_jor: curso_cod_jor,
                                        curso_cod_jar: curso_cod_jar
                                    };
                              
                                      // Convertir el objeto a JSON
                                      const jsonData = JSON.stringify(formData);
                                      console.log(jsonData);
                                      fetch('http://tmp.enred.cl/kc/rest/post_alumno.php', {
                                          method: 'POST',
                                          headers: {
                                              'Content-Type': 'application/json'
                                          },
                                          body: jsonData
                                      })
                                      .then(response => {
                                        
                                          if (!response.ok) {
                                              throw new Error('Error al enviar la solicitud');
                                          }
                                          alert("Alumno creado correctamnte ");
                                          return response.json();
                                      })
                                      .then(data => {
                                          console.log('El registro de alumno ha sido creado:', data);
                                          // Realiza acciones adicionales si es necesario
                                      })
                                      .catch(error => {
                                          console.error(error);
                                          // Maneja el error de alguna manera apropiada
                                      });
                                  });
                              </script> 
                              <style>
                                .hidden {
                                  display: none;
                                }
                              </style>  
                              <h1>Buscar y Actualizar Ficha</h1>
  <form id="searchForm">
    <label for="rut_alumno">RUT del Alumno:</label>
    <input type="text" id="rut_alumno" name="rut_alumno">
    <button type="submit">Buscar</button>
  </form>

  <h2>Ficha de Alumno</h2>
  <form id="dataForm">
    <label for="cod_fc">Código FC:</label>
    <input type="text" id="cod_fc" name="cod_fc" disabled><br><br>

    <label for="nom_alu">Nombre:</label>
    <input type="text" id="nom_alu" name="nom_alu" disabled><br><br>

    <label for="ap_pat_alu">Apellido Paterno:</label>
    <input type="text" id="ap_pat_alu" name="ap_pat_alu" disabled><br><br>

    <label for="ap_mat_alu">Apellido Materno:</label>
    <input type="text" id="ap_mat_alu" name="ap_mat_alu" disabled><br><br>

    <label for="fec_cre">Fecha de Creación:</label>
    <input type="text" id="fec_cre" name="fec_cre" disabled><br><br>

    <label for="con_fc">Contenido de la Ficha:</label>
    <textarea id="con_fc" name="con_fc" rows="5" cols="30" disabled></textarea><br><br>

    <button id="actualizarBtn" type="button" onclick="guardarContenido()" disabled>Actualizar Ficha</button>
  </form>
                            
  <script>
    document.getElementById("searchForm").addEventListener("submit", function(event) {
      event.preventDefault(); // Evitar el envío del formulario

      var rutAlumno = document.getElementById("rut_alumno").value;

      fetch('http://tmp.enred.cl/kc/rest/Get_fc_est.php?rut_alumno=' + encodeURIComponent(rutAlumno))
        .then(response => response.json())
        .then(data => {
          if (data.length > 0) {
            // Mostrar los datos de la ficha encontrada
            var ficha = data[0];
            document.getElementById('cod_fc').value = ficha.cod_fc;
            document.getElementById('nom_alu').value = ficha.nom_alu;
            document.getElementById('ap_pat_alu').value = ficha.ap_pat_alu;
            document.getElementById('ap_mat_alu').value = ficha.ap_mat_alu;
            document.getElementById('fec_cre').value = ficha.fec_cre;
            document.getElementById('con_fc').value = ficha.con_fc;
            document.getElementById('con_fc').disabled = false;
            document.getElementById('actualizarBtn').disabled = false;
          } else {
            // Limpiar los campos si no se encontraron resultados
            document.getElementById('cod_fc').value = '';
            document.getElementById('nom_alu').value = '';
            document.getElementById('ap_pat_alu').value = '';
            document.getElementById('ap_mat_alu').value = '';
            document.getElementById('fec_cre').value = '';
            document.getElementById('con_fc').value = '';
            document.getElementById('con_fc').disabled = true;
            document.getElementById('actualizarBtn').disabled = true;
            alert('No se encontró ningún alumno con ese RUT.');
          }
        })
        .catch(error => {
          console.log('Error:', error);
        });
    });

    function guardarContenido() {
      var codFc = document.getElementById("cod_fc").value;
      var conFc = document.getElementById("con_fc").value;

      fetch('http://tmp.enred.cl/kc/rest/update_con_fc.php', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          rut_alumno: codFc,
          con_fc: conFc
        })
      })
        .then(response => response.json())
        console.log(response)
        .then(data => {
          if (data.success) {
            console.log(response)
            alert('Ficha actualizada con éxito.');
          } else {
            alert('Error al actualizar la ficha.');
          }
        })
        .catch(error => {
          console.log('Error:', error);
        });
    }
  </script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var menuContainer = document.getElementById('menu-container');
    var navbarToggle = document.querySelector('.navbar-toggler');

    // Ocultar el menú inicialmente
    menuContainer.style.display = 'none';

    // Agregar evento de clic al botón de toggle navigation
    navbarToggle.addEventListener('click', function() {
      // Verificar si la barra de navegación se está abriendo o cerrando
      if (menuContainer.style.display === 'none') {
        // Mostrar el menú si la barra de navegación se está abriendo
        menuContainer.style.display = 'block';
      } else {
        // Ocultar el menú si la barra de navegación se está cerrando
        menuContainer.style.display = 'none';
      }
    });
  });
</script>


{% endblock %}