{% extends 'layout.html' %}
{% load static %}
{% block content %}

<body>
    <div class="d-flex" id="content-wrapper">
        <!-- Sidebar -->
        <div id="sidebar-container" class="barraLateral">
            <div class="logo">
                <h4 class="text-light font-weight-bold mb-0" ><a  class="text-light" href= "{% url 'menu' %}">Kids connect</a></h4>
            </div>
            <div class="menu">
              <a href="{% url 'evento' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
                  Calendario</a>
              <a href="{% url 'docente' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
                  Profesores</a>          
              <a href="{% url 'crearUsuario' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-book outline mr-2"></i>
                  Estudiante</a>
              <a href= "{% url 'correo' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-mail-unread mr-2"></i>
                  Mensajes</a>
              {% if request.session.perfil == '4' %}
              <a href= "{% url 'crearAlumno' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>Crear Alumno</a>
              {% endif %}
          </div>
      </div>
      <!-- Fin sidebar -->

      <div class="w-100">

       <!-- Navbar -->
       <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <div class="container">
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <form class="form-inline position-relative d-inline-block my-2">
                <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn position-absolute btn-search" type="submit"><i class="icon ion-md-search"></i></button>
              </form>
              <div class="menu" id="menu-container">
                <a href="{% url 'evento' %}" class="d-block text-primary p-3 border-0"><i class="icon ion-md-apps lead mr-2"></i>
                    Calendario</a>
                <a href="{% url 'docente' %}" class="d-block text-primary p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
                    Profesores</a>          
                <a href="{% url 'crearUsuario' %}" class="d-block text-primary p-3 border-0"><i class="icon ion-md-book outline mr-2"></i>
                    Estudiante</a>
                <a href= "{% url 'correo' %}" class="d-block text-primary p-3 border-0"><i class="icon ion-md-mail-unread mr-2"></i>
                    Mensajes</a>
                {% if request.session.perfil == '1' %}
                <a href="{% url 'crearAlumno' %}" class="d-block text-light p-3 border-0"> <i class="icon ion-md-people lead mr-2"></i>Crear Alumno</a>
                {% endif %}
              </div>
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                  
                    <i class="icon ion-md-settings"></i><span id="storedValue"></span>

                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'cerrarSesion' %}">Cerrar sesión</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
          <!-- Fin Navbar -->

        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">

              <section class="bg-light py-3">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-9 col-md-8">
                            <h1 class="font-weight-bold mb-0">Información Alumo</h1>
                            <p class="lead text-muted">Revisa la última información</p>
                          </div>                         
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-8 my-3">
                              <div class="card rounded-0">
                                  <div class="card-header bg-light">
                                    <h6 class="font-weight-bold mb-0">Ficha Alumno
                                      <form class="form-inline position-relative d-inline-block my-2">
                                        <input class="form-control" type="search" placeholder="Buscar por Rut" aria-label="Buscar" id="rutBusqueda">
                                        <button class="btn position-absolute btn-search" id='Buscar' type="submit"><i class="icon ion-md-search"></i></button>
                                      </form>

                                    </h6>
                                  </div> 
                                  <div class="card rounded-0">
                                    <div class="card-header bg-light">
                                        <h6 class="font-weight-bold mb-0">Creacion Alumno</h6>
                                    </div>
                                    <div class="card-body pt-2">
                                      <h1>Formulario de Registro de Alumno</h1>
                                        <form id="registroForm">
                                        <label for="rut_alu">RUT Alumno:</label>
                                        <input type="text" id="rut_alu" name="rut_alu" required><br>
    
                                        <label for="dv_alu">DV:</label>
                                        <input type="text" id="dv_alu" name="dv_alu" required><br>
    
                                        <label for="nom_alu">Nombre:</label>
                                        <input type="text" id="nom_alu" name="nom_alu" required><br>
    
                                        <label for="ap_pat_alu">Apellido Paterno:</label>
                                        <input type="text" id="ap_pat_alu" name="ap_pat_alu" required><br>
    
                                        <label for="ap_mat_alu">Apellido Materno:</label>
                                        <input type="text" id="ap_mat_alu" name="ap_mat_alu" required><br>
    
                                        <label for="dir_alu">Dirección:</label>
                                        <input type="text" id="dir_alu" name="dir_alu" required><br>
    
                                        <label for="curso_cod_cur">Codigo curso:</label>
                                        <input type="text" id="curso_cod_cur" name="curso_cod_cur" required><br>
    
                                        <label for="curso_cod_niv">Codigo Nivel:</label>
                                        <input type="text" id="curso_cod_niv" name="curso_cod_niv" required><br>
    
                                        <label for="usuario_rut_us">Rut Apoderado:</label>
                                        <input type="text" id="usuario_rut_us" name="usuario_rut_us" required><br>
    
                                        <label for="usuario_jardin_cod_jar">Codigo Jardin:</label>
                                        <input type="text" id="usuario_jardin_cod_jar" name="usuario_jardin_cod_jar" required><br>
    
                                        <label for="usuario_cod_tip">Tipo Usuario:</label>
                                        <input type="text" id="usuario_cod_tip" name="usuario_cod_tip" required><br>

                                        <label for="curso_cod_jor">Jornada (1=AM - 2=PM):</label>
                                        <input type="text" id="curso_cod_jor" name="curso_cod_jor" required><br>

                                        <label for="curso_cod_jar">Codigo Jardin:</label>
                                        <input type="text" id="curso_cod_jar" name="curso_cod_jar" required><br>
    
                                        <button type="submit">Registrar</button>
                                    </form>
                                <script>
                                  const form = document.getElementById('registroForm');
                                  form.addEventListener('submit', function(event) {
                                      event.preventDefault(); // Evita que la página se recargue al enviar el formulario
                              
                                      // Obtener los valores de los campos del formulario
                                  // Obtener los valores de los campos del formulario
                                  const rut_alu = document.getElementById('rut_alu').value;
                                  const dv_alu = document.getElementById('dv_alu').value;
                                  const nom_alu = document.getElementById('nom_alu').value;
                                  const ap_pat_alu = document.getElementById('ap_pat_alu').value;
                                  const ap_mat_alu = document.getElementById('ap_mat_alu').value;
                                  const dir_alu = document.getElementById('dir_alu').value;
                                  const curso_cod_cur = document.getElementById('curso_cod_cur').value;
                                  const curso_cod_niv = document.getElementById('curso_cod_niv').value;
                                  const usuario_rut_us = document.getElementById('usuario_rut_us').value;
                                  const usuario_jardin_cod_jar = document.getElementById('usuario_jardin_cod_jar').value;
                                  const usuario_cod_tip = document.getElementById('usuario_cod_tip').value;
                                  const curso_cod_jor = document.getElementById('curso_cod_jor').value;
                                  const curso_cod_jar = document.getElementById('curso_cod_jar').value;
                                      // Obtener el valor de los demás campos del formulario
                              
                                    // Crear un objeto con los datos del formulario
                                    const formData = {
                                        rut_alu: rut_alu,
                                        dv_alu: dv_alu,
                                        nom_alu: nom_alu,
                                        ap_pat_alu: ap_pat_alu,
                                        ap_mat_alu: ap_mat_alu,
                                        dir_alu: dir_alu,
                                        curso_cod_cur: curso_cod_cur,
                                        curso_cod_niv: curso_cod_niv,
                                        usuario_rut_us: usuario_rut_us,
                                        usuario_jardin_cod_jar: usuario_jardin_cod_jar,
                                        usuario_cod_tip: usuario_cod_tip,
                                        curso_cod_jor: curso_cod_jor,
                                        curso_cod_jar: curso_cod_jar
                                    };
                              
                                      // Convertir el objeto a JSON
                                      const jsonData = JSON.stringify(formData);
                                      console.log(jsonData);
                                      fetch('http://tmp.enred.cl/kc/rest/post_alumno.php', {
                                          method: 'POST',
                                          headers: {
                                              'Content-Type': 'application/json'
                                          },
                                          body: jsonData
                                      })
                                      .then(response => {
                                        
                                          if (!response.ok) {
                                              throw new Error('Error al enviar la solicitud');
                                          }
                                          alert("Alumno creado correctamnte ");
                                          return response.json();
                                      })
                                      .then(data => {
                                          console.log('El registro de alumno ha sido creado:', data);
                                          // Realiza acciones adicionales si es necesario
                                      })
                                      .catch(error => {
                                          console.error(error);
                                          // Maneja el error de alguna manera apropiada
                                      });
                                  });
                              </script>   
                            
                          </div>
                          <div class="col-lg-4 my-3">
                            <div class="card rounded-0">
                                <div class="card-header bg-light">
                                    <h6 class="font-weight-bold mb-0">TRABAJOS </h6>
                                </div>
                                <div class="card-body pt-2">
                                    <div class="d-flex border-bottom py-2">
                                        <div class="d-flex mr-3">
                                          <h2 class="align-self-center mb-0"><i class="icon ion-md-pricetag"></i></h2>
                                        </div>
                                        <div class="align-self-center">
                                          <h6 class="d-inline-block mb-0">CURSO 1 </h6><span class="badge badge-success ml-2">TODO OK </span>
                                          <small class="d-block text-muted">TRABAJO DE ARTES</small>
                                        </div>
                                    </div>
                                    <div class="d-flex border-bottom py-2">
                                        <div class="d-flex mr-3">
                                          <h2 class="align-self-center mb-0"><i class="icon logo-ionic"></i></h2>
                                        </div>
                                        <div class="align-self-center">
                                          <h6 class="d-inline-block mb-0">CURSO 2</h6><span class="badge badge-success ml-2">FALTO PEPITO</span>
                                          <small class="d-block text-muted">Curso BAILE</small>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary w-100">Ver todas</button>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </section>

        </div>

        </div>
    </div>

    
            </script>
          <script src="static/js/alumno.js"></script>
</body> 
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var menuContainer = document.getElementById('menu-container');
    var navbarToggle = document.querySelector('.navbar-toggler');

    // Ocultar el menú inicialmente
    menuContainer.style.display = 'none';

    // Agregar evento de clic al botón de toggle navigation
    navbarToggle.addEventListener('click', function() {
      // Verificar si la barra de navegación se está abriendo o cerrando
      if (menuContainer.style.display === 'none') {
        // Mostrar el menú si la barra de navegación se está abriendo
        menuContainer.style.display = 'block';
      } else {
        // Ocultar el menú si la barra de navegación se está cerrando
        menuContainer.style.display = 'none';
      }
    });
  });
</script>


{% endblock %}