{% extends 'layout.html' %}
{% load static %}
{% block content %}

<LINK REL=StyleSheet HREF='{% static 'css/Style.css' %}' TYPE="text/css">

<div class="container">
  <body>
    <style>
      body {
          background-image: url("{% static 'img/Logo Kids Connect.png' %}");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center calc(50% + 80px);
          background-origin: content-box;
          margin-top: 50px; 
          opacity: 0.95;
      }
    </style>
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col">
          <section class="form-login" style="border-radius: 11px;">
            <h3>Ingreso Kids Connect</h3>
            <span> {% if mensaje %}
              <p><span style="color: red;"><strong>Usuario Incorrecto, re-ingresa tus credenciales</strong></span></p>
                {% else %}
              <p>Ingresa tus credenciales: </p>
                 {% endif %}</span> 
            <form method="POST" action="{% url 'index' %}">
              {% csrf_token %}
              <input class="controls" type="text" name="usuario" id="myInput" placeholder="Usuario">
              <input class="controls" type="password" name="contrasena" id="mypass" value="" placeholder="Contraseña">
              <input class="buttons rounded" type="submit" value="Ingresar" id="">
              <br></br>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <div class="divfooter pt-3" ><center>
      <p>Kids Connect SPA</p>
      <p>Cristobal Briceño - Paulo Ramirez - Manuel Martí</p>
    </center></div>
  </footer>
</div>

{% endblock %}
