:root {
    --primary: #111B54;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
}

#sidebar-container {
    min-height: 100vh;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu {
    width: 18rem;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}

  
@media (max-width: 768px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
  }
  

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  th button,
  td button {
    width: 100%;
  }
  
  th:last-child button,
  td:last-child button {
    display: block;
  }
  
  th:last-child input,
  td:last-child input {
    display: block;
    width: 100%;
    margin-bottom: 8px;
  }
  
  th:last-child input:focus,
  td:last-child input:focus {
    outline: none;
    border: 1px solid blue;
  }

  